/* Navigation bar */
$nav-background: $lightGray;
$nav-link: $yellow;
$nav-text: $white;

// To override some of bootstrap elements with high specificity we neste everything inside class container to increase specificity of our classes.
// If needed we can increase it even more using further nesting or by chaining selector by itself ex. .btn.btn {...}

.container {

  .project-name {
    color: $nav-text;
    &:hover {
      color: $nav-text;
      cursor: default;
    }
  }

  .nav-bar {
    background-color: $nav-background;
    font-weight: 500;
  }

  .nav-text {
    text-decoration: none;
    cursor: default;
    padding-top: 0.5em;
    color: $nav-text;
  }

  a {
    color: $nav-link;
  }
}
