$input-background: $lightGray;
$btn-background: $yellow;
$text-color: $white;
$border-color: $darkerWhite;

.container{
  display: flex;
  justify-content: center;
  padding: 2rem;

  form {
    width: 100%;
  }
  button {
    color: $text-color;
    background-color: $btn-background;
    font-weight: 700;
  }
  input {
    background-color: $input-background;
    &::placeholder {
      color: $text-color;
    }
    &:focus {
      background-color: $text-color;
      transition: 0.4s;
      outline-style: none;
      outline-color: transparent;
      border-color: $border-color;
    }

  }

}

